$icon-font-path: "/bower_components/bootstrap-sass-official/vendor/assets/fonts/bootstrap/";
$fa-font-path: "/bower_components/font-awesome/fonts";

@import 'bootstrap-sass-official/vendor/assets/stylesheets/bootstrap';
@import 'font-awesome/scss/font-awesome';

/**
 * App-wide Styles
 */

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

// Component styles are injected through grunt
// injector
@import 'account/login/login.scss';
@import 'admin/admin.scss';
@import 'clients/clients.scss';
@import 'clients/edit/clients/edit.scss';
@import 'clients/new/clients/new.scss';
@import 'main/main.scss';
@import 'offers/edit/offers/edit.scss';
@import 'offers/new/offers/new.scss';
@import 'offers/offers.scss';
// endinjector


@font-face {
  font-family: 'ui-grid';
  src: url('/bower_components/angular-ui-grid/ui-grid.eot');
  src: url('/bower_components/angular-ui-grid/ui-grid.eot#iefix') format('embedded-opentype'),
    url('/bower_components/angular-ui-grid/ui-grid.woff') format('woff'),
    url('/bower_components/angular-ui-grid/ui-grid.ttf?') format('truetype'),
    url('/bower_components/angular-ui-grid/ui-grid.svg?#ui-grid') format('svg');
  font-weight: normal;
  font-style: normal;
}
